*.iml
.gradle
/local.properties
.kotlin

.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/.gradle/
!**/src/test/**/.gradle/